<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
    <title>Perfil</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>             
                <img src="{{ pic }}" class="profile-pic">   
                <li><a href="/index/{{user}}"><ion-icon name="home-outline"></ion-icon> Home</a></li>
                <li><a href="/faq/{{user}}"><ion-icon name="help-circle-outline"></ion-icon> FAQ</a></li>
                <li><a href="/logout"><ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión</a></li>
            </ul>
        </nav>
        
        <main>
            <section class="profile-section">
                <h1>{{user}}</h1>
                <div class="profile-info">
                    <img src="{{ pic }}" alt="Perfil" class="profile-pic-large" >
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="username" value="{{user}}" >
                        <input type="file" name="file" id="file"/>
                        <input type="submit" value="Subir foto"/>
                    </form>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <label for="">{{ message }}</label>
                    {% endfor%}
                    {% endif %}
                    {% endwith%}
                    
                </div>
            </section>
            <br>
            <br>
            <section class="feed-section" id="feed">
                <div class="feed">
                    {% if posts%}
                    <h1>Panel de administración </h1>
                    {% endif %}
                    {% for row in posts%}
                    <!-- Ejemplo de un post -->
                    
                    <div class="post">
                        <img src="{{ url_for('static', filename='profile_pics/')}}{{row[3]}}" alt="User1" class="profile-pic">
                        <div class="post-content">
                            <span class="username">{{row[2]}}</span>
                            <p>{{row[1]}}</p>
                        </div>
                        <form action="/delete_post" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="adminName" value="{{user}}" > 
                            <input type="hidden" name="username" value="{{row[2]}}" > 
                            <input type="hidden" name="post_id" value="{{row[0]}}" >                            
                            <input type="submit" value="Eliminar"/>
                        </form>
                    </div>
                    {%endfor%}
                    <!-- Añadir más posts aquí -->
                </div>
            </section>
        </main>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
